<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinkWrite</title>
    <link rel="stylesheet" href="design.css"/>
</head>
<body>
        <section id="timer">1:00</section>
        <section id="tester">
            <div id="tester-text">
                <% wordStore.forEach(word => { %>
                    <span> <%-word %></span>
                <% }); %>
            </div>
        </section>
        <form>
            <input onkeyup="inputType(this)" onfocus="onFocus()" onblur="onBlur()" type="text" id="write"/>
        </form>

        <section id="score">
            <p>Your score:</p>
            <p id="score-wpm">100wpm</p>
        </section>
    <!--Scripts are not touching-->
    <script src="testing.js"></script>
    <script src="timer.js"></script>
</body>
</html>